
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      	<a class="brand" href="/">
		  Book Store
		</a>
		<ul class="nav">
			<% if administrator_signed_in? then %>
			<li class="dropdown">
				<a href="#"
				   class="dropdown-toggle"
				   data-toggle="dropdown">
				   Admin Controls
				   <b class="caret"></b></a>
				<ul class="dropdown-menu">
						  <li><a href="/lists">Wish Lists</a></li>
						  <li><a href="/users">Users</a></li>
						  <li><a href="/items">Items</a></li>
					</ul>
					<% end %>
					</li>
					<li><%= link_to 'Books', books_path %></li>
					<% if session[:list_id].nil? then %>
				    <li><%= link_to 'New Wish List', new_list_path %></li>
				  <% else %>
				    <li class="active"><%= link_to 'My Wish List', list_path(session[:list_id]) %></li>
				  <% end %>
					</ul>
		
		  <ul class="nav pull-right">
				<% if not session[:user_id].nil? then %>
						<li class="divider-vertical"></li>
					<li><a><%= display_email(session[:user_id]) %></a></li>
						<li class="divider-vertical"></li>
					<li><a href="/session/sign_out">Sign Out</a></li>
						<li class="divider-vertical"></li>
				<% else %>
					<li class="divider-vertical"></li>
					<li><a href="/session/sign_in">Sign In</a></li>
					<li class="divider-vertical"></li>
				<% end %>		
		  </ul>
		
    </div>
  </div>
</div>

<h1>Editing list</h1>

<%= render 'form' %>

<%= link_to 'Show', @list %> |
<%= link_to 'Back', lists_path %>
